<!DOCTYPE html>
<html>
  <head>
    <title>RealTime-Search-Box</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'action_cable' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
    <!-- app/views/layouts/application.html.erb -->
  </body>
</html>
